*
!.gitignore
!.gitattributes
!imagePawcess.py
!imagePawcessor/
!PurplePuppy-CanvasAPI/*
!imagePawcessor/imagePawcessSetup.py
!imagePawcessor/imagePawcess.py
!imagePawcessor/imagePawcessLinux.spec
!imagePawcessor/menu_pics
!imagePawcessor/menu_pics/.gitkeep
!imagePawcessor/font.png
!imagePawcessor/fontLicense.txt
!app_icon.ico
!puppyspawn.gd
!main.gd
!RayDetector.tscn
!ray.gd
!CHANGELOG.md
!icon.png
!README.md
!README.png
!MAP.png
!convert.py
!menu_gif.gif
