*
!.gitignore
!.gitattributes

!launcher.py
!puppyspawn.gd
!main.gd
!CHANGELOG.md
!icon.png
!README.md
!README.png
!MAP.png
!exe_data/
!exe_data/**
!game_data/
!game_data/**
!imagePawcess.py
!imagePawcessor/exe_data/
!imagePawcessor/exe_data/**