*
!.gitignore
!.gitattributes

!imagePawcessor/
!imagePawcessor/imagePawcess.py
!imagePawcessor/imagePawcessSetup.py
!imagePawcessor/app_icon.ico
!imagePawcessor/launcher.py
!imagePawcessor/launcherSetup.py
!imagePawcessor/launcher.ico
!imagePawcessor/exe_data
!imagePawcessor/requirements.txt
!imagePawcessor/imagePawcess.lock
!puppyspawn.gd
!main.gd
!CHANGELOG.md
!icon.png
!README.md
!README.png
!MAP.png
!game_data/
!game_data/**