coloredlogs==15.0.1
flatbuffers==24.3.25
humanfriendly==10.0
joblib==1.4.2
mpmath==1.3.0
numpy==2.2.0
onnxruntime==1.20.1
opencv-python-headless==4.10.0.84
packaging==24.2
pillow==11.0.0
protobuf==5.29.1
psutil==6.1.0
pyreadline3==3.5.4
PySide6==6.8.1
PySide6_Addons==6.8.1
PySide6_Essentials==6.8.1
pywin32==308
scikit-learn==1.6.0
scipy==1.14.1
shiboken6==6.8.1
sympy==1.13.3
threadpoolctl==3.5.0
